.color-bn {
    color: #045859;
    color: #e4f243;
}

.color-terra{
    color:#006064; /* Main Header */
    color:#36B6B2; /* Menu Active */
}

.color1 {color: #385483;}
.color2 {color: #1d5f88;}
.color3 {color: #207794;}
.color4 {color: #20969c;}
.color5 {color: #2bc89f;}

